<p id="notice"><%= notice %></p>

<h2><%= @text.title %><small> by <%= @text.author.name %></small></h2>

<% if @text.class == Poem %>
  "<%= @text.metaphor %>"
<% else %>
  <i><%= @text.short_description %></i>
<% end %>

<p><%= simple_format @text.content %></p>

<p>Tags: <%= raw @text.tag_list.map { |t| link_to t, root_path( tag: t)}.join(', ') %></p>
