<%= form_for(@short_story) do |f| %>
  <% if @short_story.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@short_story.errors.count, "error") %> prohibited this short_story from being saved:</h2>

      <ul>
      <% @short_story.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container">
    <%= f.hidden_field :author_id, value: current_author.id %>

    <div><%= f.label :title %><br />
    <%= f.text_field :title, autofocus: true %></div>

    <div><%= f.label :short_description %><br />
    <%= f.text_field :short_description %></div>

    <div><%= f.label :content %><br />
    <%= f.text_area :content %></div>

    <%= f.submit %>
  </div>
<% end %>
